# Making a CMD for your Star Cluster

This notebook introduces a few commands that you'll need to make the Color Magnitude Diagram for your star cluster. You can also use the cells below to write code for your unit project.

## .loc[ ] indexing

In [ ]:
import pandas as pd

In [ ]:
# Here we create a sample dataframe
sample_df = pd.DataFrame({"Smartphone": ["iPhone 11", "Samsung Galaxy S20", "Google Pixel 4", "LG V60", "Nokia 9", "Sony Xperia 1", "iPhone SE"], "Price": [700,1000,800,700,450,1000,399]})
sample_df

           Smartphone  Price
0           iPhone 11    700
1  Samsung Galaxy S20   1000
2      Google Pixel 4    800
3              LG V60    700
4             Nokia 9    450
5       Sony Xperia 1   1000
6           iPhone SE    399

You can use the .loc index method to select all the items in one column which have a particular value in the second column. For example, we may want to select all items from the "Smartphone" column that have a value of 700 in the "Price" column.


Follow along with the **live coding activity** to see how this works.

In [ ]:
# This code selects all values from the first column, "Smartphone" where the value on that same row in the second column, "Price" is equal to 700
sample_df["Smartphone"].loc[sample_df["Price"] == 700]

0    iPhone 11
3       LG V60
Name: Smartphone, dtype: object

Now you try! Let's say you want to view some more expensive phones. Select all the values from the "Smartphone" column where the value on that same row in the "Price" column is equal to 1000.

In [ ]:
sample_df["Smartphone"].loc[sample_df["Price"] == 1000]

1    Samsung Galaxy S20
5         Sony Xperia 1
Name: Smartphone, dtype: object

Let's say you definitely want an iPhone of some sort, but you want to see just iPhone prices. Now select all the values from the "Price" column where the value on that same row in the "Smartphone" column contains the word "iPhone".

In [ ]:
sample_df["Price"].loc[sample_df["Smartphone"].str.contains("iPhone")]

0    700
6    399
Name: Price, dtype: int64

Let's say you're on a budget and don't want to spend more than $700 on a phone. Select all the values from the "Smartphone" column where the value on that same row in the "Price" column is less than or equal to 700.

In [ ]:
sample_df["Smartphone"].loc[sample_df["Price"]<= 700]

0    iPhone 11
3       LG V60
4      Nokia 9
6    iPhone SE
Name: Smartphone, dtype: object

#### Note: You can store these selected values in a variable, just like you've done with entire columns!

## Finding absolute magnitude

You will need to convert "G" to absolute magnitude for your CMD.

Look in the dataset for distance. Using G and distance, you can calculate absolute magnitude using the following equation:

absolute magnitude = G - 5 * log(distance) + 5

In [ ]:
# You will need to import numpy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# You can use this function in your code to find the log of distance:
df = pd.read_csv('/content/drive/MyDrive/oh_table.csv')
Gvar = df["G"].loc[df["group_id"]==1]
Jvar = df["J"].loc[df["group_id"]==1]
Dvar = df["distance"].loc[df["group_id"]==1]

len(df)

absolute_magnitude = Gvar - 5*np.log10(Dvar)+5
print(absolute_magnitude)
# np.log10()

151    4.317935
152    1.636046
153    1.871381
154    2.989399
155    4.106913
         ...
271    0.736070
272    1.168734
273    2.820231
274    0.544605
275    1.416024
Length: 125, dtype: float64

In [ ]:
from google.colab import drive
drive.mount()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Your first task is to create a Color Magnitude Diagram for your star cluster
You can use as many of the cells below as you need. You can add new cells with the "+" button.

### Coding Challenge 1: Add the sun to your color magnitude diagram

### Coding Challenge 2: Add a colormap to your diagram

### Coding Challenge 3: Create histograms for the absolute magnitude and color of your star cluster