# Exploring the hominid timeline

In this notebook you'll get to practice creating and using dictionaries while discovering which hominin species lived at the same time.

Here is a list of hominid species and the time range when they are beleived to have lived (in millions of years ago):
- A. anamensis (4.2 to 3.9 mya)
- A. afarensis (3.6 to 2.9 mya)
- K. platyops (3.5 to 3.3 mya)
- A. africanus (3 to 2 mya)
- A. aethiopicus (2.7 to 2.3 mya)
- A. boisei (2.3 to 1.4 mya)
- H. habilis (2.3 to 1.6 mya)
- H. erectus (1.8 to 0.3 mya)
- A. robustus (1.8 to 1.5 mya)
- H. heidelbergensis (0.6 to 0.1 mya)
- H. neanderthalensis (0.25 to 0.03 mya)
- H. sapiens (0.1 to 0 mya)

Create a dictionary with species as keys and lists containing the beginning and end of the range as the values:

*Note: If your dictionary gets too long to fit on one line, you can hit the "return" key after a comma to make a new line*

In [ ]:
hominid_timeline = {
    "A. anamensis" : [4.2,3.9], "A. afarensis" : [3.6,2.9], "K. platyops": [3.5,3.3], 
    "A.africanus" : [3,2], "A.aethiopicus" : [2.7,2.3], "A.boisei" : [2.3,1.4], "H.habilis" : [2.3,1.6], 
    "H.erectus" : [1.8,0.3], "A.robustus" : [1.8,1.5], "H.heidelbergensis" : [0.6,0.1], "H.neanderthalensis" : [0.25,0.03],
    "H.sapiens" : [0.1,0]
}

Test out your dictionary by printing out the time range when A. boisei lived:

In [ ]:
hominid_timeline["A.boisei"]

[2.3, 1.4]

Now write code that sets a variable equal to a certain number of millions of years ago and prints out a **list** of all the hominid species that lived at that time:

Hints: 
- You will need to create a new list
- You will need to use a list index after a dictionary index
- Remember that the time ranges go from more mya to fewer mya

In [ ]:
mya = 2.3 
hominids = []

for hominid in hominid_timeline : 
    if mya <= hominid_timeline[hominid][0] and mya >= hominid_timeline[hominid][1]:
     hominids.append(hominid)

print(hominids)

['A.africanus', 'A.aethiopicus', 'A.boisei', 'H.habilis']

Try re-running your code for the following numbers of millions of years:
- 3 mya
- 1.5 mya
- 0.1 mya (100 years ago)

In [ ]:
mya = 3 
hominids = []

for hominid in hominid_timeline : 
    if mya <= hominid_timeline[hominid][0] and mya >= hominid_timeline[hominid][1]:
     hominids.append(hominid)

print(hominids)

['A. afarensis', 'A.africanus']

In [ ]:
mya = 1.5 
hominids = []

for hominid in hominid_timeline : 
    if mya <= hominid_timeline[hominid][0] and mya >= hominid_timeline[hominid][1]:
     hominids.append(hominid)

print(hominids)

['A.boisei', 'H.erectus', 'A.robustus']

In [ ]:
mya = 0.1
hominids = []

for hominid in hominid_timeline : 
    if mya <= hominid_timeline[hominid][0] and mya >= hominid_timeline[hominid][1]:
     hominids.append(hominid)

print(hominids)

['H.heidelbergensis', 'H.neanderthalensis', 'H.sapiens']



```
# This is formatted as code
```